# ?? https://eslint.org/docs/latest/use/configure/ignore#the-eslintignore-file

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# typescript
next-env.d.ts

# temporary
*.tson