node_modules/
jspm_packages/
bower_components/
web_modules/
.pnp
.pnp.js
build/
dist/
out/
.next/
next-env.d.ts
.nuxt/
.gatsby/
target/
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pids/
*.pid
*.seed
*.pid.lock
lib-cov/
coverage/
*.lcov
.nyc_output/
.grunt/
.lock-wscript
build/Release/
*.tsbuildinfo
*.d.ts.map
.npm/
.npm/_locks
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.node_repl_history
*.tgz
.yarn/
.yarn/cache/
.yarn/unplugged/
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*
.yarn-integrity
.env
.env.local
__.env
.__.env
.cache/
.parcel-cache/
.expo/
dist/
expo-env.d.ts
apps/expo/.gitignore
.docusaurus/
.serverless/
.fusebox/
.dynamodb/
.tern-port/
.turbo/
.vercel/
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.idea/
.DS_Store
*.exe
*.dll
*.so
*.dylib
*.bin
*.tmp
*.temp
*.bak
*.old
*.orig
*.swp
*.pem
*.swc
__pycache__/
*.py[oc]
*.egg-info/
.now/
.venv/
.ruff_cache/
.wheels/
*.sublime-project
*.sublime-workspace
*.idea/
.eslintcache
.vscode-test/
addons/.output/
addons/premium/
yarn-error.log/
path_mapping.txt
coverage/
.million/
.vercel
.env*.local
.unlighthouse
